<div class="ubicacion-exp">
    <div class="exp-div-container">
        <div>
            <div class="row">
                <div class="th-icono-work ">
                    <img src="assets/img/certificate.png">
                </div>
                <div class="" style="text-align: start;">
                    <h2 class="title-workexp">CERTIFICATES</h2>
                </div>
            </div>
        </div>

        <div *ngFor="let cert of Certs">
            <div class="row">
                <div class="cargo-style col-md-8 col-xs-12">{{cert.titulo}}</div>
                <div class="job-periodo col-md-4 col-xs-12">
                    <div class="job-periodo">
                        {{cert.periodo}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="empresa col-12">{{cert.institucion}}, {{cert.ciudadInstitucion}}, {{cert.paisInstitucion}}</div>
            </div>

            <div *ngIf="cert.tecnos">
                <ul class="ul-exp col-md-11">
                    <li *ngFor="let tecno of cert.tecnos" class="li-exp">{{tecno}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>