<app-nav-bar></app-nav-bar>
<br><br><br><br>
<table class="table">
    <th>
        <app-datos-personales></app-datos-personales>
    </th>
    <tbody>
        <tr class="row">
            <td>
                <app-experience></app-experience>
            </td>
            <td>
                <app-skills class="posicion-skills"></app-skills>
            </td>
        </tr>
        <tr class="row">
            <td>
                <app-education class="posicion-education"></app-education>
            </td>
            <td>
                <app-certificates></app-certificates>
            </td>
        </tr>
    </tbody>