<div>
    <app-nav-bar></app-nav-bar>
    <br><br><br><br>
    <app-datos-personales></app-datos-personales>
</div>
<div class="content-container container">
    <div class="col-12">
        <div class="row">
            <div class="card col-6">
                <app-experience></app-experience>
            </div>
            <div class="card col-6">
                <app-skills></app-skills>
            </div>
        </div>
        <div class="row">
            <div class="card col-6">
                <app-education></app-education>
            </div>
            <div class="card col-6">
                <app-certificates></app-certificates>
            </div>
        </div>
    </div>
</div>


<!-- <table class="table">
    <th>
        <app-experience></app-experience>
    </th>
    <tbody>
        <tr class="row">
            <td>
            </td>
            <td>
                <app-skills class="posicion-skills"></app-skills>
            </td>
        </tr>
        <tr class="row">
            <td>
                <app-education class="posicion-education"></app-education>
            </td>
            <td>
                <app-certificates></app-certificates>
            </td>
        </tr>
    </tbody> -->