/* .ubicacion-exp {
    display: flex;
    justify-content: flex-end;
} */

.th-icono-work {
    padding-top: 1px;
    width: 60px;
}

.title-workexp {
    box-sizing: border-box;
    font-size: 35px;
    color: #4b4747;
    font-family: serif;
    margin: 12px;
    display: block;
}

.li-exp {
    /* width: 11cm; */
    line-height: 18px;
    padding-bottom: 8px;
}

.ul-exp {
    margin-top: 15px;
    margin-bottom: 8px;
    padding-inline-start: 25px;
}

table {
    margin-left: auto;
    font-family: serif;
    color: rgb(60, 60, 60);
    font-size: 18px;
}

.job-periodo {
    text-align: end;
    /* width: 135px; */
    /* margin-left: 100px; */
}

.cargo-style {
    font-weight: bolder;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .job-periodo {
        text-align: start;
        /* background-color: red; */
        /* width: 135px; */
        /* margin-left: 100px; */
    }
}