.ubicacion-skill {
    display: flex;
    justify-content: flex-start;
}

.skill-div-container {
    /* width: 50%; */
    /* box-sizing: border-box; */
}

.th-icono-skills {
    padding-top: 1px;
    width: 60px;
}

.title-skills {
    box-sizing: border-box;
    font-size: 35px;
    color: #4b4747;
    font-family: serif;
    margin: 12px;
    font-weight: lighter;
}

.div-h-skills {
    width: 350px;
    text-align: center;
}

.h-skills {
    color: #4b4747;
    font-family: serif;
}

.skill {
    width: 6cm;
}

.div-skill {
    height: 22px;
}

.div-iskill {
    height: 22px;
}

table {
    font-family: serif;
    color: #4b4747;
}


/* .bar {
    width: 200px;
    padding-bottom: 8px;
    position: relative;
    left: 30px;
} */