.ubicacion-exp {
    display: flex;
    justify-content: flex-end;
}

.exp-div-container {
    /* position: absolute;
    left: 30px; */
    /* width: 900px; */
    /* width: 50%; */
    box-sizing: border-box;
}

.th-icono-work {
    padding-top: 1px;
    /* position: relative;
    right: 230px; */
    width: 60px;
}

.title-workexp {
    box-sizing: border-box;
    font-size: 35px;
    color: #4b4747;
    font-family: serif;
    margin: 12px;
    display: block;
    /* position: relative;
    right: 230px; */
    /* font-weight: bold; */
}

.li-exp {
    width: 11cm;
    line-height: 18px;
    padding-bottom: 8px;
}

.ul-exp {
    width: 500px;
    /* padding: 25px; */
    margin-top: 15px;
    /*!!!!!!!!!!!!!!!!!!!!!!!!!! :)*/
    /* margin-left: 10px; */
    /* box-sizing: border-box; */
    margin-bottom: 8px;
    padding-inline-start: 25px;
}

table {
    margin-left: auto;
    font-family: serif;
    color: #4b4747;
    font-size: 18px;
}

.job-periodo {
    width: 135px;
}

.cargo-style {
    font-weight: bolder;
    font-size: 20px;
}

.empresa {
    line-height: 10px;
}